
@{
    ViewBag.Title = "سوالات متداول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas{
<meta name="description" content="کلینیک شنوایی و سمعک شکوه تجریش در زمینه سفارش آنلاین گیفت باکس،گل،هدیه،کادو،فلاور باکس،پلکسی و تشریفات مجالس به مناسبت هایی مانند ولنتاین،نامزدی،عقد،بله برون و روز مادر فعال است.">
<meta name="Keywords" content="گل,فلاور باکس,هدیه,کادو,گل فروشی,گیفت,ولنتاین,تولد,گیفت باکس,روز مادر,عید,تاج گل,دسته گل,بله برون,نامزدی,عقد,تشریفات,پرنسا,باکس گل,باکس چوبی,پلکسی,TajrishSamak">
<meta property="og:title" content="کلینیک شنوایی و سمعک شکوه تجریش ، آزمایشات شنوایی و تجویز سمعک" />
<meta property="og:url" content="http://www.TajrishSamak.com/" />
<meta property="og:image" content="http://www.TajrishSamak.com/images/pransa_logo_web.png" />
<meta name="twitter:image" content="کلینیک شنوایی و سمعک شکوه تجریش ، آزمایشات شنوایی و تجویز سمعک">
}

@section Styles{
}

<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">صفحه اصلی</a>
                    <i>|</i>
                </li>
                <li>سوالات متداول</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- FAQ-help-page -->
<div class="faqs-w3l">
    <div class="container">
        <!-- tittle heading -->
        <div class="text-center">
            <h1 class="tittle-w3l text-center">
                سوالات متداول
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h1>
        </div>
        <!-- //tittle heading -->
        <h3 class="w3-head">سوالات متداول</h3>
        <div class="faq-w3agile container">
            <ul class="faq">
                <li class="item1">
                    <a href="#" title="کلینیک شنوایی و سمعک شکوه تجریش">به چه صورت در سایت عضو شویم ؟</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                               . در قسمت ثبت نام با وارد کردن شماره تماس و نام و نام خانوادگی عضو کلینیک شنوایی و سمعک شکوه تجریش خواهید شد
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="کلینیک شنوایی و سمعک شکوه تجریش">نحوه سفارش خدمات به چه صورتی می باشد ؟</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                شما میتوانید با تماس تلفنی وقتی را برای مشاوره و یا انجام آزمایشات شنوایی خود در نظر بگیرید .
                            </p>
                        </li>
                    </ul>
                </li>
                @*<li class="item3">
                    <a href="#" title="کلینیک شنوایی و سمعک شکوه تجریش">نحوه پرداخت به چه صورت می باشد ؟</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                پرداخت به صورت آنلاین می باشد و در مرحله پایانی خرید با استفاده از درگاه بانکی قابل پرداخت می باشد
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="کلینیک شنوایی و سمعک شکوه تجریش">امکان تغییر سفارش پس از ثبت نهایی و پرداخت هزینه مقدور است ؟</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                بله ، مجموعه کلینیک شنوایی و سمعک شکوه تجریش این امکان را برای مشتریانی که تاریخ سفارششان ۲۴ ساعت قبل باشد گذاشته و با تماس با پشتیبانی ویرایش انجام میشود
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="کلینیک شنوایی و سمعک شکوه تجریش">حذف یا انصراف از سفارش امکان پذیر می باشد ؟</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                در صورتی که ۷۲ ساعت قبل از ارسال سفارش ، انصراف داده شود هزینه به طور کامل عودت داده میشود
                            </p>
                        </li>
                    </ul>
                </li>*@
                @*<li class="item5">
                        <a href="#" title="کلینیک شنوایی و سمعک شکوه تجریش">کپی رایت</a>
                        <ul>
                            <li class="subitem1">
                                <p>
                                    بهره برداری و استفاده از اطلاعات این سایت با ذکر Pransa Gift به عنوان منبع و برای مقاصد مطابق با قوانین اعلام شده ، مجاز می باشد و در صورت بروز هر گونه تخلف، پیگرد قانونی خواهد داشت .
                                </p>
                            </li>
                        </ul>
                    </li>*@
                @*<li class="item6">
                        <a href="#" title="click here">Voluptas sit aspernatur aut Ut semper nisl ut laoreet ultrices ?</a>
                        <ul>
                            <li class="subitem1">
                                <p>
                                    At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer
                                    adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="item7">
                        <a href="#" title="click here">Donec ut quam ligula feugiat Ut semper nisl ut laoreet ultrices ?</a>
                        <ul>
                            <li class="subitem1">
                                <p>
                                    At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer
                                    adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="item8">
                        <a href="#" title="click here">The standard Lorem Ipsum Ut semper nisl ut laoreet ultrices passage ?</a>
                        <ul>
                            <li class="subitem1">
                                <p>
                                    Lorem ipsum dolor sit amet At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                    nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                    cupiditate non provident.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="item9">
                        <a href="#" title="click here">Consectetuer adipiscing Ut semper nisl ut laoreet ultrices elit ?</a>
                        <ul>
                            <li class="subitem1">
                                <p>
                                    Lorem ipsum dolor sit amet At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                    nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                                    cupiditate non provident.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="item10">
                        <a href="#" title="click here">Sed diam nonummy Ut semper nisl ut laoreet ultrices nibh euismod ?</a>
                        <ul>
                            <li class="subitem1">
                                <p>
                                    Consectetuer adipiscing elit, sed diam nonummy nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                    accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                                    et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </li>
                        </ul>
                    </li>*@
            </ul>
        </div>
    </div>
</div>
<!-- //FAQ-help-page -->


@section Scripts{
    <!-- script for tabs -->
    <script>
        $(function () {

            var menu_ul = $('.faq > li > ul'),
				menu_a = $('.faq > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
    <!-- script for tabs -->

}





